.container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

h1 {
    font-size: xx-large;
}

h2 {
    text-align: center;
}



a {
    color: black;
    font-size: x-large;
    text-decoration: none;
}