#hud {
    display: flex;
    justify-content: center;


}

.hud-item {
    justify-content: center;
    margin-bottom: 2%;
}

.hud-prefix {
    text-align: center;
    font-size: 130%;

}

.hud-main-text {
    text-align: center;
}

#quiz {
    align-items: center;

}

.btn-home {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-top: 15% 0;
    color: black;
    text-decoration: none;
}

.score {
    text-align: center;
}

#question {
    margin-bottom: 20%;
}

#progress-Bar {
    height: 20px;
    width: 150px;
    border: 2px solid black;
    margin-top: 10%;
    margin-bottom: 20%;
    border-radius: 50px;
    overflow: hidden;
    padding-bottom: 10%;
}

#progress-Bar-Full {
    height: 100%;
    width: 0%;
    background-color: black;
}

h2 {
    font-size: small;
    background-color: aliceblue;

}

.choice-container {
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5%;
}

.choice-container:hover {
    cursor: pointer;
    transition: transform 100ms;
    transform: scale(1.02);
    box-shadow: 3px black;
}

.choice-text {
    text-align: center;
}

.correct {
    background-color:green;
}

.incorrect {
    background-color: red;
}