#hud {
    display: flex;
    justify-content: center;
}

.choice-container {
    display: flex;
    width: 100%;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 150%;
}

.choice-container:hover {
        cursor: pointer;
        transition: transform 100ms;
        transform: scale(1.02);
        box-shadow: 3px black;
    }

.choice-text {
font-size: larger;
width: 100%;
padding-left: 20%;
    }

    .correct {
        background-color: limegreen;
    }

    .incorrect {
        background-color: red;
    }

