/*  Wildcard selector  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  Body Styling  */


/*  Main content styling*/
main {
    background-color: aqua;
}


/*  Footer styling  */
footer {
    background-color: aquamarine;
}